body {
    margin: 0;
    text-align: center;
    background-color:powderblue;
}

header {
    background-color:salmon;
    padding: 30px;
}
h1, h2, p, h3 {
    margin: 0;
    padding: 20px;
}

.info {
    background-color:mediumslateblue;
    color:mistyrose;
}
h3 {
    background-color:salmon;
    color:midnightblue;
   
}