body {
    margin: 0;
    text-align: center;
}

header {
    background-color:salmon;
}

.info {
    background-color:mediumslateblue;
    color:mistyrose;
}
h3 {
    background-color:salmon;
    color:midnightblue;